html,
body {
  margin: 0;
  padding: 0;
  background-color: #Fcf5ef
}
/* typography */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 96px;
  letter-spacing: -1.5px;
}
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: -0.5px;
}
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0px;
}
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.25px;
}
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
}
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
}
.subtitle1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
}
p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 150%;
}
.caption {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.overline {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
}
.typed {
  /* width: 40%; */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 150%;
}

canvas {
  display: block;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

header p {
  max-width: 60%;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

#typed-intro{
  min-width: 40%;
  text-align: center;
}

#dataViz-1 {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}